@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton{
    @include m.boton(v.$brown, v.$white);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

